<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mon site - {% block title %}Bienvenue{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        {% block body %}
        {% endblock %}

        {% include 'footer.html.twig' %}

        {% block javascripts %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>