{% extends "base.html.twig" %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp;
        </div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1>Connectez vous !!</h1>

                {% if haserror %}
                    <div class="alert alert-danger">Une erreur est survenue, l'adresse ou le mot de passe est invalide</div>
                {% endif %}
                
                <form action="{{path('compte_login')}}" method="post">
                    <div class="form-group">
                        <label for="adresseMail">Adresse mail</label>
                        <input type="text" name="_username" id="adresseMail" class="form-control" placeholder="Mettre votre adresse mail" required value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="text" name="_password" id="password" class="form-control" placeholder="Mot de passe..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connexion</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>    
</div>
{% endblock %}