{% extends "base.html.twig" %}

{% block title %}Changement du mot de passe{% endblock %}

{% block body %}
    <div class="container mt-4 mb-4">
        <h1>Modification du mot de passe</h1>

        {{form_start(form)}}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary">Modifier</button>

        {{form_end(form)}}
    </div>
{% endblock %}